<div>
  <div>
    <a href="/" class="simple-text logo mini">
      <div class="logo-img">
        <img src="/" alt="Company #">
      </div>
    </a>
    <a href="/" class="simple-text logo-normal">
      BAL DECOR
    </a>
  </div>
  <ul class="nav">
    <li class="active">
      <a routerLink="/">
        <i class="material-icons">home</i>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/">
        <i class="material-icons">face</i>
        Sign Up
      </a>
    </li>
    <li>
      <a routerLink="/">
        <i class="material-icons">attach_money</i>
        Quote
      </a>
    </li>
  </ul>
</div>
