/*!* You can add global styles to this file, and also import other style files *!*/
/*@import 'https://use.fontawesome.com/releases/v5.8.2/css/all.css';*/

html, body { height: 100%; }
body {
  font-family:Roboto, "Helvetica Neue", sans-serif;

}
*{
  margin:0;
  box-sizing: border-box;
  padding:0;
}

/*mat-sidenav-container {*/
/*  height: 100vh; !* 100% of the viewport height *!*/
/*}*/



